.statistic {
  margin-top: 20px;
  :global {
    .weui-cell__bd {
      min-width: 80px;
    }
  }

  &_condition,
  &_myorder {
    background-color: #fff;
  }

  &_goodsitem {
    padding: 5px 10px;
  }
}