.statistic {
  margin-top: 20px;
  :global {
    .weui-cell__bd {
      min-width: 80px;
    }
  }

  &_condition,
  &_myorder {
    background-color: #fff;
  }

  &_goodsitem {
    padding: 5px 10px;
  }

  &_team {
    background-color: #fff;

    &_item {
      display: inline-block;
      background-color: #f6f6f6;
      padding: 10px;
      margin: 5px;
    }
  }

  &_totalprofit {
    margin-top: 20px;
    background: #fff;
  }
}