.login {

  &_remember {
    position: relative;
    background: none;
    // margin-top: 0;

    &_checkbox {
      width: 50%;
      float: left;
    }

    &::after {
      border: none;
    }
    &::before {
      border: none;
    }
  }

  &_btn {
    padding: 0 15px;
    margin-top: 20px;
  }

  &_forget {
    float: right;
    padding: 10px 15px;
    line-height: 24px;
    font-size: 12px;
    span {
      color: #666;
    }
  }
}