.order {
  margin-top: 20px;
  background-color: #fff;
  :global {
    .weui-cell__hd {
      width: 100px;
    }
  }
}

.orderdetail {
  :global .gb_list_icon {
    width: 90px;
    height: 90px;
    margin-right: 10px;
  }

  &_owner {
    background-color: #fff;
    margin-top: 20px;
  }

  &_gname {
    height: 40px;
    line-height: 20px;
    overflow: hidden;
  }

  &_price {
    color: red;
  }

  &_block {
    background: #fff;
  }

  &_statistic {
    background-color: #fff;
    margin-top: 20px;
  }

  &_total {
    color: red;
  }

  &_totalnum {
    color: green;
  }

  &_driver {
    background-color: #fff;
  }
}