.inputBox{
  position: relative;  
}
.inputDelete{
    position: absolute;
    top:8px;
    right:15px;
    border: none;
    width: 30px;
    height: 30px;
}
.inputBox[index='0'] .inputDelete{
  display: none;
}
.confirm {
  &_btn {
    padding: 0 15px;
    margin-top: 20px;
  }
  &_List{
    background: #fff;
    p{text-align: center}
  }
  &_add {
    float: right;
    padding: 10px 15px;
    line-height: 24px;
    font-size: 12px;
    button {
      color: #666;
      padding:5px 10px;
      border-radius: 4px;
      border:1px solid #ccc;
      background: #fff;
    }
  }
}

.change_icon{
  float: right;
  height: 25px;
  margin-left: 10px;
}

