.goods {
  margin-top: 20px;

  :global .weui-label {
    color: #666;
  }

  &_nodata {
    width: 100%;
    text-align: center;
    font-size: 12px;
    color: #999;
    padding: 20px 0;
  }

  &_list {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    padding: 0 15px;
  }

  &_item {
    // flex: 1;
    width: 48%;

    &_img {
      width: 100%;
      text-align: center;

      img {
        width: 150px;
        height: 150px;
      }
    }

    &_name {
      text-align: center;
      font-size: 14px;
      color: #232321;
    }

    &_price {
      color: #ff002f;
      font-size: 12px;
      text-align: center;
    }
  }
}

.goodsadd {
  margin-top: 20px;
  background-color: #fff;

  &_btn {
    padding: 0 15px;
    margin-top: 20px;
  }

  &_upload {
    margin: 0 10px;

    &_img {
      float: left;
      position: relative;
      margin-right: 9px;
      margin-bottom: 9px;
      width: 77px;
      height: 77px;
      border: 1px solid #D9D9D9;
    }
  }
}

.goodsdetail {
  margin-top: 20px;
  background-color: #fff;
  padding-bottom: 20px;

  :global{
    .weui-flex {
      margin-top: 20px;
    }
    .weui-flex__item {
      padding: 0 15px;
      text-align: center;
    }
  }
}

.goods_img {
  width: 77px;
  height: 77px;
  border: 1px solid #D9D9D9;
}