.record{
  position: relative;
  padding-bottom: 66px;

  &_inputbox,&_goods{
    background: #fff;
    padding:10px 15px;
  }
  &_info{
    display: block;
    width: 100%;
    border:none;
    resize: none;
    color: inherit;
    font-size: 1em;
    line-height: inherit;
    outline: 0;    
  }
  &_numbox{
    display: flex;
  }
  &_inputnum{
    width: 40px;
    text-align: center;
    border:1px solid #999;
  }
  &_sub,&_add{
    width:20px;
    height: 20px;
    border:1px solid #999;
    text-align: center;
    line-height: 20px;
  }
  &_sub{
    border-right: none;
  }
  &_add{
    border-left: none;
  }
  &_next{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding:10px 15px;
  }
  &_goods :global .weui-cell__hd{
    width: 90px;
    margin-right: 5px;
    img{
      width: 100%;
    }
  }
  &_buygoods{
    :global .lprice{
      display: none
    }
  }
  &_total{
    padding:10px 15px 80px 15px;
    span{
      color: red;
    }
  }
}
