:global {
  #toastWrap {
    .weui-icon_msg {
      font-size: 55px;
    }
    .weui-icon-warn {
      color: #c9c9c9;
    }
    .weui-toast_content {
      height: auto;
      font-size: 14px
    }
  }
}