.user {
  :global .gb_list_icon {
    width: 50px;
    height: 50px;
  }
  &_block {
    background-color: #fff;
    margin: 20px 0;
  }

  &_list {
    background-color: #fff;
  }
  &_wx {
    font-size: 12px;
    color: #666;
  }
}

.useradd {
  // background-color: #fff;
  // margin: 20px 0;
  // padding-bottom: 20px;

  &_block {
    background-color: #fff;
    margin: 20px 0;
  }

  &_btn {
    padding: 0 15px;
    margin-top: 20px;
  }

  &_upload {
    margin: 0 10px;

    &_img {
      float: left;
      position: relative;
      margin-right: 9px;
      margin-bottom: 9px;
      width: 77px;
      height: 77px;
      border: 1px solid #D9D9D9;
    }
  }
}

.checklist {
  margin-top: 20px;
  background-color: #fff;
}

.checkdetail {
  // margin-top: 20px;
  // padding-bottom: 20px;
  // background-color: #fff;

  &_block {
    margin-top: 20px;
    // padding-bottom: 20px;
    background-color: #fff;
  }

  &_img {
    width: 77px;
    height: 77px;
    border: 1px solid #D9D9D9;
  }
}