:global {
  .gb_list_icon {
    display: block;
    width: 20px;
    margin-right: 5px;
  }

  .gb_list_nodata {
    font-size: 12px;
    text-align: center;
    color: #999;
  }
  .showprice{
    span{
      display: block;
    }
    .lprice{
      text-decoration: line-through;
      font-size: 14px;
      color: #000;
    }
    .realprice{
      color: red;
      font-size: 16px;
    }
  }
}